@import (inline) "../node_modules/normalize.css/normalize.css";

@bg-color: #013813;
@fg-color: #f9df08;
@fg-color-light:lighten(@fg-color, 30%);

.hidden {
    display:none !important;
}

body {
    background:@bg-color;
    color:@fg-color;
    font:normal 100%/1.4 "Trebuchet MS",Arial,sans-serif;
    margin:10px auto;
    max-width:1000px;
    padding:0 10px;
}

h1 {
    text-align:center;
}

a {
    color:@fg-color;
    &:hover {
        color:@fg-color-light;
    }
}

img {
    max-width:100%;
}

fieldset {
    border:1px solid @fg-color;
    border-radius:3px;
    margin:0;
}

input {
    box-sizing:border-box;
    max-width:100%;
    overflow:hidden;
}

select {
    background:@fg-color-light;
    border:none;
    max-width:100%;
}

textarea {
    background:@fg-color-light;
    border:none;
    box-sizing:border-box;
    font-family:monospace;
    padding:3px 5px;
    resize:vertical;
    width:100%;
}

button[type="submit"] {
    background:none;
    border:1px solid;
    border-radius:2px;
    color:@fg-color;
    cursor:pointer;
    display:block;
    margin:0 auto 1em;
    padding:0.5em 2em;
    width:150px;

    &:hover {
        color:@fg-color-light;
    }
}

.ctrl {
    margin:0 0 1em;
}

.ctrl-set {
    display:flex;
    justify-content:space-between;

    .ctrl {
        box-sizing:border-box;
        width:48.5%;
    }
}

.tab-ctrl {
    margin:0.5em 0;
    .tab {
        cursor:pointer;
        display:inline-block;
        padding:1px 10px;
        &:first-child {
            margin-left:5px;
        }
    }
    .tab-active {
        box-shadow:0 4px 0 0 @fg-color;
    }
    .tab-sheet {
        border-bottom:1px solid fade(@fg-color, 50%);
        border-top:1px solid fade(@fg-color, 50%);
        padding:1em 0;
    }
}

[data-format-label] {
    align-items:center;
    display:flex;
    &:not(:first-child) {
        margin-top:3px;
    }
    &:before {
        border:1px solid @fg-color;
        border-top-right-radius:4px;
        content:attr(data-format-label);
        font:9px Consolas,monospace;
        margin-right:5px;
        padding:5px 1px;
        vertical-align:middle;
    }
    input {
        flex-grow:1;
        vertical-align:middle;
    }
}

.data-ctrl {
    label {
        display:block;
    }

    &-hint:after {
        content:" \25BC";
    }

    @media (min-width:480px) {
        display:flex;
        flex-direction:column;

        &-hint:after {
            content:" \25BA";
        }

        textarea {
            flex-grow:1;
        }
    }
}

.result {
    background:@fg-color-light;
    color:#000;
    display:block;
    padding:0.25em 0.5em;
}

.graph-group {
    border:1px solid @fg-color;
    border-radius:3px;
    display:block;
    margin:0.8em 0;
    padding:20px 10px 12px;
    position:relative;

    figcaption {
        background:@bg-color;
        left:10px;
        line-height:1em;
        top:-0.5em;
        position:absolute;
    }
}

footer {
    font-size:0.75em;
    margin-top:3em;
    text-align:right;
}

.legacy-warning {
    background:fade(@fg-color, 80%);
    bottom:0;
    color:@bg-color;
    font-size:1.3em;
    left:0;
    padding:20px 30px;
    position:fixed;
    right:0;
    text-align:center;
}


@media (max-width:479px) {
    .ctrl-set {
        display:block;

        .ctrl {
            width:100%;
        }
    }
}
